.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
    height: 100px;
}

.search {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
}

.restaurant-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0px;
    margin: 10px;
    width: 220px;
    text-align: left;
}

.restaurant-logo{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}
.restaurant-card h3 {
    margin: 10px 0;
    font-size: 18px;
}
.restaurant-card p {
    margin: 5px 0;
    color: #555;
}
.restaurant-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: clip;
      
}
.shimmer-Container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}
.shimmer-card {
     border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0px;
    margin: 10px;
    width: 220px;
    text-align: left;
}

.shimmer-restaurant-logo{
    width: 100%;
    height: 120px;
    border-radius: 8px;
    background-color: #e0e0e0;
    animation: shimmer 1.5s infinite;
}
.shimmer-restaurant-name{
    width: 70%;
    height: 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #e0e0e0;
    animation: shimmer 1.5s infinite;
}
.shimmer-restaurant-details{
    width: 90%;
    height: 15px;
    margin: 5px 10px;
    border-radius: 4px;
    background-color: #e0e0e0;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: 200px 0;
    }
}

.signin {
    padding: 0px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}