/Episode - 02/node_modules
/Episode - 02/.parcel-cache
/Episode - 02/dist
/Episode - 03/.parcel-cache
/Episode - 03/node_modules
/Episode - 03/dist
/Episode - 04/.parcel-cache
/Episode - 04/node_modules
/Episode - 04/dist
/Episode - 05/.parcel-cache
/Episode - 05/node_modules
/Episode - 05/dist