.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
    height: 100px;
}

.search {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
}

.restaurant-card{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.restaurant-logo{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.restaurant-card h3 {
    margin: 10px 0;
    font-size: 18px;
}
.restaurant-card p {
    margin: 5px 0;
    color: #555;
}
.restaurant-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    -webkit-box-pack: center;
    justify-content: center;
}

